/* VENDOR PREFIXES
 * ============================================= */
/* OPACITY
 * ============================================= */
/* ROTATE
 * ============================================= */
/* BORDER BOX - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * ============================================= */
/* ROUND BORDERS
 * ============================================= */
/* GRADIENTs
 * ============================================= */
/* SHADOW MIXINS - up to 6 shadow declarations for each style
 * ============================================= */
/* TRANSITIONS
 * ============================================= */
/* ease, ease-in, ease-out, ease-in-out, linear, */
/* cubic-bezier(1.0, 0, 0, 1.0) */
/* translate(x, y) moves the position of an item */
/* scale(w, h) changes the size (scale) 1-0 scale */
/* rotate(rad or deg) Rotates and item */
/* skew(x, y in deg/rad) skews and item */
/* matrix() Gives you exact control over an item */
/* You can chain tranforms together -webkit-transform: skew(15deg, 15deg) translate(20px, 20px) scale(.5, .5); */
/* line 22, ../scss/partials/_nav.scss */
.nav-pinned-left {
  padding-left: 240px;
}

/* line 25, ../scss/partials/_nav.scss */
.nav-pinned-right {
  padding-right: 240px;
}

/* line 33, ../scss/partials/_nav.scss */
.nav {
  font-family: sans-serif;
  width: 240px;
  background: #495563;
}
/* line 38, ../scss/partials/_nav.scss */
.nav.pinned {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
/* line 45, ../scss/partials/_nav.scss */
.nav.pinned.right {
  left: auto;
  right: 0px;
}
/* line 54, ../scss/partials/_nav.scss */
.nav header {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  background: #3f4955;
  height: 40px;
  padding: 10px;
}
/* line 60, ../scss/partials/_nav.scss */
.nav header h1 {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100px;
  /* Safari and Chrome */
  -khtml-border-radius: 100px;
  /* IE 9 */
  -ms-border-radius: 100px;
  /* IE 9 */
  -moz-border-radius: 100px;
  /* Firefox */
  -o-border-radius: 100px;
  /* Opera */
  border-radius: 100px;
  background: #e74c3c;
  color: white;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: "Cherry Swash", sans-serif;
  font-weight: normal;
  margin: 0px auto;
  padding: 0px;
}
/* line 75, ../scss/partials/_nav.scss */
.nav header a.mobile-menu {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAYCAYAAAACqyaBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpiDEsp/s8wQICJYQDBqOUDAhiBWG3ALP//n7LEzsjIOBrnpIfaaCEzavloITNayIwWMqOWjxYy1AAAAQYAU/cNH5fS2asAAAAASUVORK5CYII=) no-repeat;
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 1;
  height: 24px;
  width: 30px;
  overflow: hidden;
  text-indent: -3000px;
}
/* line 91, ../scss/partials/_nav.scss */
.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 96, ../scss/partials/_nav.scss */
.nav ul li {
  box-shadow: inset 0px 1px 0px #566473;
  -moz-box-shadow: inset 0px 1px 0px #566473;
  -webkit-box-shadow: inset 0px 1px 0px #566473;
  -o-box-shadow: inset 0px 1px 0px #566473;
  -ms-box-shadow: inset 0px 1px 0px #566473;
  height: 59px;
  border-bottom: 1px solid #3f4955;
  color: #7e8c9a;
  font-size: 16px;
}
/* line 103, ../scss/partials/_nav.scss */
.nav ul li:first-child {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 107, ../scss/partials/_nav.scss */
.nav ul li a {
  display: block;
  color: #7e8c9a;
  line-height: 59px;
  padding: 0px 20px;
  text-decoration: none;
}
/* line 114, ../scss/partials/_nav.scss */
.nav ul li a:hover {
  background: #566473;
  padding: 0px 20px 0px 15px;
  border-left: 5px solid #3498db;
}
/* line 126, ../scss/partials/_nav.scss */
.nav footer {
  box-shadow: inset 0px 1px 0px #4a5664;
  -moz-box-shadow: inset 0px 1px 0px #4a5664;
  -webkit-box-shadow: inset 0px 1px 0px #4a5664;
  -o-box-shadow: inset 0px 1px 0px #4a5664;
  -ms-box-shadow: inset 0px 1px 0px #4a5664;
  border-top: 1px solid #3f4955;
  background: #3f4955;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  /* line 145, ../scss/partials/_nav.scss */
  .nav-pinned-left, .nav-pinned-right {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
  }

  /* line 151, ../scss/partials/_nav.scss */
  .nav {
    width: auto;
  }
  /* line 154, ../scss/partials/_nav.scss */
  .nav.pinned {
    bottom: auto;
    left: 0px;
    right: 0px;
  }
  /* line 160, ../scss/partials/_nav.scss */
  .nav ul {
    display: none;
  }
  /* line 163, ../scss/partials/_nav.scss */
  .nav footer {
    display: none;
  }
}
/* line 11, ../scss/partials/_hero.scss */
.hero {
  padding: 50px;
}
/* line 14, ../scss/partials/_hero.scss */
.hero h1, .hero h2 {
  font-family: "Cherry Swash", sans-serif;
  text-align: center;
}
/* line 19, ../scss/partials/_hero.scss */
.hero h1 {
  text-align: center;
  font-family: "Cherry Swash", sans-serif;
  font-size: 120px;
  margin: 0px;
  line-height: 120px;
}
/* line 27, ../scss/partials/_hero.scss */
.hero h2 {
  font-weight: normal;
}

@-webkit-keyframes glowing {
  /* line 8, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 10, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-khtml-keyframes glowing {
  /* line 14, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 15, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 16, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 20, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 21, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 22, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes glowing {
  /* line 26, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 27, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 28, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 32, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 33, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 34, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 38, ../scss/module/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 39, ../scss/module/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 40, ../scss/module/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

/* line 25, ../scss/module/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 43, ../scss/module/_buttons.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 47, ../scss/module/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 53, ../scss/module/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 59, ../scss/module/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
}

/* line 65, ../scss/module/_buttons.scss */
.button-block {
  display: block;
}

/* line 74, ../scss/module/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 84, ../scss/module/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 100, ../scss/module/_buttons.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 100, ../scss/module/_buttons.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* line 100, ../scss/module/_buttons.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 16px;
}

/* line 135, ../scss/module/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4aa3df), color-stop(100%, #258cd1));
  background: -webkit-linear-gradient(top, #4aa3df, #258cd1);
  background: -moz-linear-gradient(top, #4aa3df, #258cd1);
  background: -o-linear-gradient(top, #4aa3df, #258cd1);
  background: linear-gradient(top, #4aa3df, #258cd1);
  background-color: #3498db;
  border-color: #217dbb;
  color: white;
  text-shadow: 0 -1px 1px rgba(18, 67, 100, 0.35);
}
/* line 142, ../scss/module/_buttons.scss */
.button-primary:hover {
  background-color: #3498db;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5faee3), color-stop(100%, #258cd1));
  background: -webkit-linear-gradient(top, #5faee3, #258cd1);
  background: -moz-linear-gradient(top, #5faee3, #258cd1);
  background: -o-linear-gradient(top, #5faee3, #258cd1);
  background: linear-gradient(top, #5faee3, #258cd1);
}
/* line 146, ../scss/module/_buttons.scss */
.button-primary:active {
  background: #4c93c3;
  color: #196090;
}

/* line 135, ../scss/module/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #40d47e), color-stop(100%, #29b765));
  background: -webkit-linear-gradient(top, #40d47e, #29b765);
  background: -moz-linear-gradient(top, #40d47e, #29b765);
  background: -o-linear-gradient(top, #40d47e, #29b765);
  background: linear-gradient(top, #40d47e, #29b765);
  background-color: #2ecc71;
  border-color: #25a25a;
  color: white;
  text-shadow: 0 -1px 1px rgba(18, 79, 44, 0.35);
}
/* line 142, ../scss/module/_buttons.scss */
.button-action:hover {
  background-color: #2ecc71;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #54d98c), color-stop(100%, #29b765));
  background: -webkit-linear-gradient(top, #54d98c, #29b765);
  background: -moz-linear-gradient(top, #54d98c, #29b765);
  background: -o-linear-gradient(top, #54d98c, #29b765);
  background: linear-gradient(top, #54d98c, #29b765);
}
/* line 146, ../scss/module/_buttons.scss */
.button-action:active {
  background: #47b375;
  color: #1b7943;
}

/* line 135, ../scss/module/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e98b39), color-stop(100%, #d67118));
  background: -webkit-linear-gradient(top, #e98b39, #d67118);
  background: -moz-linear-gradient(top, #e98b39, #d67118);
  background: -o-linear-gradient(top, #e98b39, #d67118);
  background: linear-gradient(top, #e98b39, #d67118);
  background-color: #e67e22;
  border-color: #bf6516;
  color: white;
  text-shadow: 0 -1px 1px rgba(100, 53, 11, 0.35);
}
/* line 142, ../scss/module/_buttons.scss */
.button-highlight:hover {
  background-color: #e67e22;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb9950), color-stop(100%, #d67118));
  background: -webkit-linear-gradient(top, #eb9950, #d67118);
  background: -moz-linear-gradient(top, #eb9950, #d67118);
  background: -o-linear-gradient(top, #eb9950, #d67118);
  background: linear-gradient(top, #eb9950, #d67118);
}
/* line 146, ../scss/module/_buttons.scss */
.button-highlight:active {
  background: #cd803b;
  color: #924d10;
}

/* line 135, ../scss/module/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d14233), color-stop(100%, #ab3326));
  background: -webkit-linear-gradient(top, #d14233, #ab3326);
  background: -moz-linear-gradient(top, #d14233, #ab3326);
  background: -o-linear-gradient(top, #d14233, #ab3326);
  background: linear-gradient(top, #d14233, #ab3326);
  background-color: #c0392b;
  border-color: #962d22;
  color: white;
  text-shadow: 0 -1px 1px rgba(67, 20, 15, 0.35);
}
/* line 142, ../scss/module/_buttons.scss */
.button-caution:hover {
  background-color: #c0392b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d65548), color-stop(100%, #ab3326));
  background: -webkit-linear-gradient(top, #d65548, #ab3326);
  background: -moz-linear-gradient(top, #d65548, #ab3326);
  background: -o-linear-gradient(top, #d65548, #ab3326);
  background: linear-gradient(top, #d65548, #ab3326);
}
/* line 146, ../scss/module/_buttons.scss */
.button-caution:active {
  background: #a94c42;
  color: #6d2018;
}

/* line 135, ../scss/module/_buttons.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a66bbe), color-stop(100%, #8f4bab));
  background: -webkit-linear-gradient(top, #a66bbe, #8f4bab);
  background: -moz-linear-gradient(top, #a66bbe, #8f4bab);
  background: -o-linear-gradient(top, #a66bbe, #8f4bab);
  background: linear-gradient(top, #a66bbe, #8f4bab);
  background-color: #9b59b6;
  border-color: #804399;
  color: white;
  text-shadow: 0 -1px 1px rgba(69, 36, 82, 0.35);
}
/* line 142, ../scss/module/_buttons.scss */
.button-royal:hover {
  background-color: #9b59b6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b07cc6), color-stop(100%, #8f4bab));
  background: -webkit-linear-gradient(top, #b07cc6, #8f4bab);
  background: -moz-linear-gradient(top, #b07cc6, #8f4bab);
  background: -o-linear-gradient(top, #b07cc6, #8f4bab);
  background: linear-gradient(top, #b07cc6, #8f4bab);
}
/* line 146, ../scss/module/_buttons.scss */
.button-royal:active {
  background: #91719e;
  color: #623475;
}

/* line 160, ../scss/module/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 169, ../scss/module/_buttons.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 172, ../scss/module/_buttons.scss */
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 177, ../scss/module/_buttons.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/module/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #3498db;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/module/_buttons.scss */
.button-flat-primary:hover {
  background: #4aa3df;
}
/* line 201, ../scss/module/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #4c93c3;
  color: #1d6fa5;
}
/* line 206, ../scss/module/_buttons.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/module/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #2ecc71;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/module/_buttons.scss */
.button-flat-action:hover {
  background: #40d47e;
}
/* line 201, ../scss/module/_buttons.scss */
.button-flat-action:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #47b375;
  color: #208e4e;
}
/* line 206, ../scss/module/_buttons.scss */
.button-flat-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/module/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e67e22;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/module/_buttons.scss */
.button-flat-highlight:hover {
  background: #e98b39;
}
/* line 201, ../scss/module/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #cd803b;
  color: #a85913;
}
/* line 206, ../scss/module/_buttons.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/module/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #c0392b;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/module/_buttons.scss */
.button-flat-caution:hover {
  background: #d14233;
}
/* line 201, ../scss/module/_buttons.scss */
.button-flat-caution:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #a94c42;
  color: #81261d;
}
/* line 206, ../scss/module/_buttons.scss */
.button-flat-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../scss/module/_buttons.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #9b59b6;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../scss/module/_buttons.scss */
.button-flat-royal:hover {
  background: #a66bbe;
}
/* line 201, ../scss/module/_buttons.scss */
.button-flat-royal:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #91719e;
  color: #713b87;
}
/* line 206, ../scss/module/_buttons.scss */
.button-flat-royal.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 221, ../scss/module/_buttons.scss */
.button-large {
  font-size: 17px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 245, ../scss/module/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px;
}

/* line 221, ../scss/module/_buttons.scss */
.button-small {
  font-size: 14px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 245, ../scss/module/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

/* line 221, ../scss/module/_buttons.scss */
.button-tiny {
  font-size: 10px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 245, ../scss/module/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px;
}

/* line 265, ../scss/module/_buttons.scss */
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
}
/* line 268, ../scss/module/_buttons.scss */
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

/* line 279, ../scss/module/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;
}
/* line 284, ../scss/module/_buttons.scss */
.button-dropdown .button-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
/* line 295, ../scss/module/_buttons.scss */
.button-dropdown .button .icon-caret-down {
  font-size: 90%;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
}
/* line 302, ../scss/module/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-below {
  top: 115%;
}
/* line 305, ../scss/module/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-above {
  bottom: 115%;
  top: auto;
}
/* line 311, ../scss/module/_buttons.scss */
.button-dropdown ul {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fcfcfc;
  top: -2px;
  left: -2px;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  min-width: 102%;
}
/* line 325, ../scss/module/_buttons.scss */
.button-dropdown ul li {
  padding: 0px;
  margin: 0px;
  display: block;
}
/* line 330, ../scss/module/_buttons.scss */
.button-dropdown ul li:first-child a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 333, ../scss/module/_buttons.scss */
.button-dropdown ul li:last-child a {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 339, ../scss/module/_buttons.scss */
.button-dropdown ul .button-dropdown-divider {
  -webkit-box-shadow: inset 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 0px white;
  box-shadow: inset 0px 1px 0px white;
  border-top: 1px solid #e4e4e4;
}
/* line 344, ../scss/module/_buttons.scss */
.button-dropdown ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 10px;
  color: #333333;
  line-height: 30px;
  white-space: nowrap;
}
/* line 353, ../scss/module/_buttons.scss */
.button-dropdown ul a:hover {
  background-color: #3c6ab9;
  color: white;
}

/* line 11, ../scss/unicorn_module.scss */
body {
  margin: 0px;
}

/* line 15, ../scss/unicorn_module.scss */
.page {
  background: #ecf0f1;
  padding: 50px;
}
